<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.firstdemo.Mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="com.example.firstdemo.Entity.Message">
            <id property="messageId" column="message_id" jdbcType="VARCHAR"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="sendUser" column="send_user" jdbcType="VARCHAR"/>
            <result property="receiveId" column="receive_id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        message_id,message,send_user,
        send_user_id,receive_id,type,
        create_time
    </sql>
</mapper>
